<p id="notice"><%= notice %></p>


<p>
  <strong>Type of verification:</strong>
  <%= @verification.id %>
</p>
<p>
  <strong>Type of verification:</strong>
  <%= @verification.type_of_verification %>
</p>

<%= link_to 'Edit', edit_verification_path(@verification) %> |
<%= link_to 'Back', verifications_path %>
