<%= form_for(equipment) do |f| %>
  <% if equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :calibration_number %>
    <%= f.number_field :calibration_number %>
  </div>

  <div class="field">
    <%= f.label :inventory_number %>
    <%= f.text_field :inventory_number %>
  </div>

  <div class="field">
    <%= f.label :serial_number %>
    <%= f.text_field :serial_number %>
  </div>

  <div class="field">
    <%= f.label :calibration_date %>
    <%= f.date_select :calibration_date %>
  </div>

  <div class="field">
    <%= f.label :verification_result %>
    <%= f.text_field :verification_result %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :admin_id %>
    <%= f.number_field :admin_id %>
  </div>

  <div class="field">
    <%= f.label :equipment_type_id %>
    <%= f.number_field :equipment_type_id %>
  </div>

  <div class="field">
    <%= f.label :place_id %>
    <%= f.number_field :place_id %>
  </div>
  
  <div class="field">
    <%= f.label :production_date %>
    <%= f.number_field :production_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
