

<h1>Equipment</h1>

<table>
  <thead>
    <tr>
      <th>Calibration number</th>
      <th>Inventory number</th>
      <th>Serial number</th>
      <th>Calibration date</th>
      <th>Verification result</th>
      <th>User</th>
      <th>Admin</th>
      <th>Brand</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.calibration_number %></td>
        <td><%= equipment.inventory_number %></td>
        <td><%= equipment.serial_number %></td>
        <td><%= equipment.calibration_date %></td>
        <td><%= equipment.verification_result %></td>
        <td><%= equipment.user_id %></td>
        <td><%= equipment.admin_id %></td>
        <td><%= equipment.brand_id %></td>
        <td><%= equipment.place_id %></td>
        <td><%= link_to 'Show', equipment %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path %>
