
<div class="panel panel-primary">
	<div class="panel-heading"><h1 class="panel-title">Urządzenia kontrolno-pomiarowe</h1></div>
	
	<div class="panel-body">
		<div class="table-responsive">
<table class="table table-bordered ">
  <thead>
    <tr>
      <th>Numer kalibracji</th>
      <th>Numer inwentarzowy</th>
      <th>Numer seryjny</th>
      <th>Data kalibracji</th>
      <th>Wynik weryfikacji</th>
      <th>Użytkownik</th>
      <th>Wprowadzający</th>
      <th>Typ sprzętu</th>
      <th>Miejsce</th>
      <th colspan="3">Obsługa</th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.calibration_number %></td>
        <td><%= equipment.inventory_number %></td>
        <td><%= equipment.serial_number %></td>
        <td><%= equipment.calibration_date %></td>
        <td><%= equipment.verification_result %></td>
        <td><%= equipment.user.email %></td>
        <td><%= equipment.admin.email %></td>
        <td><%= equipment.brand.e_brand %></td>
        <td><%= equipment.place.place_of_use %></td>
        <td><%= link_to 'Show', equipment %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  

</div>
	<br><br><br>
	<div class="panel-footer"><%= link_to 'Nowe urządzenie', new_equipment_path %></div>
</div>

