<p id="notice"><%= notice %></p>

<p>
  <strong>Calibration number:</strong>
  <%= @equipment.calibration_number %>
</p>

<p>
  <strong>Inventory number:</strong>
  <%= @equipment.inventory_number %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @equipment.serial_number %>
</p>

<p>
  <strong>Calibration date:</strong>
  <%= @equipment.calibration_date %>
</p>

<p>
  <strong>Verification result:</strong>
  <%= @equipment.verification_result %>
</p>

<p>
  <strong>User:</strong>
  <%= @equipment.user_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @equipment.admin_id %>
</p>

<p>
  <strong>Equipment type:</strong>
  <%= @equipment.equipment_type_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @equipment.place_id %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
