<p id="notice"><%= notice %></p>

<h1>Laboratories</h1>

<table>
  <thead>
    <tr>
      <th>Lab name</th>
      <th>Accreditation</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Contact</th>
      <th>Lab description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laboratories.each do |laboratory| %>
      <tr>
        <td><%= laboratory.lab_name %></td>
        <td><%= laboratory.accreditation %></td>
        <td><%= laboratory.address %></td>
        <td><%= laboratory.phone %></td>
        <td><%= laboratory.contact %></td>
        <td><%= laboratory.lab_description %></td>
        <td><%= link_to 'Show', laboratory %></td>
        <td><%= link_to 'Edit', edit_laboratory_path(laboratory) %></td>
        <td><%= link_to 'Destroy', laboratory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laboratory', new_laboratory_path %>
