<%= form_for(equipment_type) do |f| %>
  <% if equipment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment_type.errors.count, "error") %> prohibited this equipment_type from being saved:</h2>

      <ul>
      <% equipment_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_of_equipment %>
    <%= f.text_field :type_of_equipment %>
  </div>

  <div class="field">
    <%= f.label :producer_id %>
    
     <%= f.number_field :producer_id %>
  </div>
  
  <div class="field">
    <%= f.label :verification_id %>
    <%= collection_select(:equipment_types, :verification_id, Verification.all, :id, :type_of_verification) %>
  </div>

   <div class="field">
    <%= f.label :e_price %>
    <%= f.text_field :e_price %>
  </div>
   
   <div class="field">
    <%= f.label :ver_price %>
    <%= f.text_field :ver_price %>
  </div>

<div class="field">
    <%= f.label :expiration_date %>
    <%= f.date_select :expiration_date %>
  </div>
  
  <div class="field">
    <%= f.label :Laboratorium %>
    <%= collection_select(:equipment_types, :laboratory_id, Laboratory.all, :id, :lab_name) %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
