

<h1>Equipment Types</h1>

<table>
  <thead>
    <tr>
      <th>Type of equipment</th>
      <th>Producer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_types.each do |equipment_type| %>
      <tr>
        <td><%= equipment_type.type_of_equipment %></td>
        <td><%= equipment_type.producer_id %></td>
        <td><%= link_to 'Show', equipment_type %></td>
        <td><%= link_to 'Edit', edit_equipment_type_path(equipment_type) %></td>
        <td><%= link_to 'Destroy', equipment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment Type', new_equipment_type_path %>
