<p id="notice"><%= notice %></p>

<p>
  <strong>Type of equipment:</strong>
  <%= @equipment_type.type_of_equipment %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @equipment_type.producer_id %>
</p>

<%= link_to 'Edit', edit_equipment_type_path(@equipment_type) %> |
<%= link_to 'Back', equipment_types_path %>
